<%= form_for(@payment, :html => {:multipart => true}) do |f| %>
    <% if @payment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>
    <% end %>
    
    <!--creates a new timesheet -->
    <%= f.fields_for :timesheet do |builder| %> 
          <%= builder.label "New timesheet" %>
          <%= builder.text_field :upload_date %>
          <p></p>
    <% end %>
            
    <!-- Add worked hours for each employee -->
    <% @employee.each do |t| %>
          <%= f.label t.fname  %>
          <br />
          <%= f.label "Basic Hours" %>
          <%= f.text_field :basic_hours  %>
          <%= f.label "Sunday/BH Hours" %>
          <%= f.text_field :sunday_bh_hours  %>
          <br />
    <% end %>

    <%= f.submit 'Submit', :class => 'btn btn-primary' %>

<% end %>
