   <!--
     <!-- Header Carousel ->
   <header id="myCarousel" class="carousel slide ">
        <!-- Indicators ->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides ->
        <div class="carousel-inner">
            <div class="item active" >
                	<%= image_tag("retail1.jpg", alt: "banner 1", class: "img-responsive") %>
            </div>
            <div class="item" >
                	<%= image_tag("retail2.jpg", alt: "banner 2", class: "img-responsive") %>                
            </div>
            <div class="item">
                      <%= image_tag("retail3.jpg", alt: "banner 3", class: "img-responsive") %>               
             </div>
        </div>

        <!-- Controls ->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header> -->
	
	<div class="main-container container">
<!-- create rows of 3 -->
		<div class="row">

			<div class="col-md-3 col-sm-4">
				<%= link_to image_tag("cash.png", class: "img-main", alt: "cash report"), sales_path %>
				<h2>Upload Sales information</h2>
				<p>Upload your sales information on daily basis and keep the Finance Analyst up-to-date of the most recent sales details. Please ensure this is done on daily basis.</p>
				<%= link_to "Submit",  sales_path, class: "btn btn-default" %>
			</div>
		
			<div class="col-md-3 col-sm-4">
				<a href="#"><%= image_tag("time.jpg", class: "img-main", alt: "payroll") %></a>
				<h2>Upload Payroll information</h2>
				<p>Updload all weekly payroll information to the Payroll Department. Ensure all calculations are accurate before sending the report. Use this section to keep track of payroll costing. </p>
				<%= link_to "Submit",  "#", class: "btn btn-default" %>
			</div>

			<div class="col-md-3 col-sm-4">
				<a href="#"><%= image_tag("special.jpg", class: "img-main", alt: "special offers") %></a>
				<h2>Check latest special offers</h2>
				<p>Check the most up-to-date special offers from Musgrave. This section will help you to ensure special offer availability is kept at the highest level in store.</p>
				<%= link_to "View",  offer_path, class: "btn btn-default" %>
			</div>

			<%= render 'feedform' %>
		
		</div>
	</div> <!-- close container -->
