    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide ">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active" >
                	<%= image_tag("retail1.jpg", alt: "banner 1", class: "img-responsive") %>
            </div>
            <div class="item" >
                	<%= image_tag("retail2.jpg", alt: "banner 2", class: "img-responsive") %>                
            </div>
            <div class="item">
                      <%= image_tag("retail3.jpg", alt: "banner 3", class: "img-responsive") %>               
             </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>
	
	<div class="main-container container">
<!-- create rows of 3 -->
		<div class="row">

			<div class="col-md-3 col-sm-4">
				<%= link_to image_tag("cash.png", class: "img-main", alt: "cash report"), sales_path %>
				<h2>Upload your Sales information</h2>
				<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
				<%= link_to "Submit",  sales_path, class: "btn btn-default" %>
			</div>
		
			<div class="col-md-3 col-sm-4">
				<a href="#"><%= image_tag("time.jpg", class: "img-main", alt: "payroll") %></a>
				<h2>Upload your Payroll information</h2>
				<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
				<%= link_to "Submit",  "#", class: "btn btn-default" %>
			</div>

			<div class="col-md-3 col-sm-4">
				<a href="#"><%= image_tag("special.jpg", class: "img-main", alt: "special offers") %></a>
				<h2>Check latest special offers</h2>
				<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
				<%= link_to "View",  offer_path, class: "btn btn-default" %>
			</div>

			<div id="newsfeed" class="col-md-3 visible-lg-block visible-md-block">
				<h3>Messages</h3>
					<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
					<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
					<hr class="featurette-divider">
					<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
					<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
					<hr class="featurette-divider">
			</div>
		
		</div>
	</div> <!-- close container -->
