<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation" >
        <div class="alert alert-danger">
            <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>
        </div>
      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table class="table table-striped text-left">
    <tbody>
        
      <tr><div class="field">
        <td><%= f.label "First Name" %><br></td>
        <td><%= f.text_field :fname, :class => 'form-control' %><tr>
      </div></tr>

      <tr><div class="field">
        <td><%= f.label "Last Name" %><br></td>
        <td><%= f.text_field :lname, :class => 'form-control' %></td>
      </div></tr>
        
      <tr><div class="field">
        <td><%= f.label "Date of Birth" %><br></td>
          <td><%= f.text_field :dob, 'data-provide' => 'datepicker', :class => 'form-control' %></td>
      </div></tr>
        
        
        
      <tr><div class="field">
        <td><%= f.label "PPS Number", :class => 'control-label' %><br></td>
        <td><%= f.text_field :pps_no, :class => 'form-control' %><tr>
      </div></tr>

      <tr><div class="field">
        <td><%= f.label "Address", :class => 'control-label' %><br></td>
        <td><%= f.text_field :address, :class => 'form-control' %></td>
      </div></tr>

      <tr><div class="field">
        <td><%= f.label "Phone Number", :class => 'control-label' %><br></td>
        <td><%= f.text_field :ph_number, :class => 'form-control' %></td>
      </div></tr>
        
      <tr><div class="field">
        <td><%= f.label "Basic Rate of pay", :class => 'control-label' %><br></td>
        <td><%= f.text_field :basic_rop, :class => 'form-control' %><tr>
      </div></tr>
          
     <tr><div class="field">
        <td><%= f.label "Sunday/BH Rate of pay", :class => 'control-label' %><br></td>
        <td><%= f.text_field :sunday_bh_rop,:class => 'form-control' %><tr>
      </div></tr>
         

     <tr><div class="field">
        <td><%= f.label "Email", :class => 'control-label' %><br></td>
        <td><%= f.text_field :email,:class => 'form-control' %><tr>
      </div></tr>
     
      <tr><div class="field">
        <td><%= f.label "Starting Date", :class => 'control-label' %><br></td>
        <td><%= f.text_field :date_joined, 'data-provide' => 'datepicker', :class => 'form-control' %><tr>
      </div></tr>
         
         
         
    </tbody>
  </table>
  <div class="actions">
    <%= f.submit "Create", class: "btn btn-success" %>
  </div>
<% end %>
