
<!-- create rows of 3 -->
  <div class="main-container container">
    <div class="row">
      <div class="col-md-3 col-sm-4 " >
        <a href="#"><%= image_tag("cash.png", class: "img-main", alt: "cash report") %></a>
        <h2>Employee Management</h2>
        <p>Create & Edit Employee information</p>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <p id="notice"><%= notice %></p>

        <h1>Employees</h1>
        <div class="table-responsive">
            <table class="table table-striped text-left">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Starting date</th>
                    </tr>
                </thead>
                <tbody>
                  <% @employees.each do |employee| %>
                    <tr>
                        <td><%= employee.fname %></td>
                        <td><%= employee.lname %></td>
                        <td><%= employee.date_joined %></td>
                        <td><%= link_to 'Show', employee, class: "btn btn-default" %></td>
                    </tr>
                  <% end %>
                </tbody>
            </table> 
          </div>
        <br>

        <%= link_to 'New Employee', employeelist_path, class: "btn btn-success" %>

      </div>
    </div>
  </div> <!-- close container --> 