<!-- create rows of 3 -->
	<div class="main-container container">
		<div class="row">

			<div class="col-md-3 col-sm-4 " >
				<a href="#"><%= image_tag("cash.png", class: "img-main", alt: "cash report") %></a>
				<h2>Employee</h2>
				<p>Please review & ensure all employee information is kept up-to-date.</p>
			</div>
			<div class="col-md-8 col-sm-8 col-xs-12">
				<p id="notice"><%= notice %></p>
				<h1><%= @employee.fname + " " +  @employee.lname %></h1>
				<p><%= image_tag @employee.photo.url(:small), class: "img-circle" %></p>
				<table class="table table-striped text-left">
		            <tbody>
		            	<tr>
		            		<td><strong>PPS Number:</strong></td>
		            		<td><%= @employee.pps_no %></td>
		            	</tr>
		                <tr>
		                	<td><strong>Date of Birth:</strong></td>
		                    <td><%= @employee.dob %></td>
		                </tr>
		                <tr>
		                	<td><strong>Address:</strong></td>
		                    <td><%= @employee.address %></td>
		                </tr>
		                <tr>
		                	<td><strong>Phone Number:</strong></td>
		                    <td><%= @employee.ph_number %></td>
		                </tr>
		                <tr>
		                	<td><strong>Basic Rate of pay:</strong></td>
		                    <td><%= @employee.basic_rop %></td>
		                </tr>
                        <tr>
		                	<td><strong>Sunday/BH Rate of pay:</strong></td>
		                    <td><%= @employee.sunday_bh_rop %></td>
		                </tr>
                        <tr>
		                	<td><strong>Email:</strong></td>
		                    <td><%= @employee.email %></td>
		                </tr>
                        <tr>
		                	<td><strong>Starting Date:</strong></td>
		                    <td><%= @employee.date_joined %></td>
		                </tr>
		            </tbody>
		        </table>

				<%= link_to 'Edit', edit_employee_path(@employee), class: "btn btn-primary"%> 
                <%= link_to 'Delete', @employee, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
				<%= link_to 'Back', employees_path, class: "btn btn-default" %>

			</div>
		</div>
	</div> <!-- close container -->


