<h1>Upload new timesheet</h1>

<%= form_for(@timesheet) do |f| %>
    <%= f.label :week_no %>
    <%= f.select :week_no, ((0..52).map {|i| [i,i] } << [" ",nil]) %>

        <h3><%= @employee.fname %> <%= @employee.lname %></h3>
        <h3><%= f.text_field :basic_hours %></h3>
        <h3><%= f.text_field :sunday_hours %></h3>
        <%= f.hidden_field :employee_id %>

    <%= f.submit "submit" %>
<% end %>

