
<!-- create rows of 3 -->
  <div class="main-container container">
    <div class="row">

      <div class="col-md-3 col-sm-4 " >
        <a href="#"><%= image_tag("cash.png", class: "img-main", alt: "cash report") %></a>
        <h2>Upload your Sales information</h2>
        <p>Update your daily sales information to the Financial Analyst.</p>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <p id="notice"><%= notice %></p>

        <h1>Sales Reports</h1>
        <div class="table-responsive">
            <table class="table table-striped text-left">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Total</th>
                        <th>Profit</th>
                        <th>Credit Card Sales</th>
                        <th>Cash Received</th>
                    </tr>
                </thead>
                <tbody>
                  <% @sales.each do |sale| %>
                    <tr>
                        <td><%= sale.created_at.strftime("%d %b. %Y") %></td>
                        <td>€<%= sale.total %></td>
                        <td>€<%= sale.profit %></td>
                        <td>€<%= sale.credit %></td>
                        <td>€<%= sale.cash %></td>
                        <td><%= link_to 'Show', sale, class: "btn btn-default" %></td>
                        <td><%= link_to 'Edit', edit_sale_path(sale), class: "btn btn-primary" %></td>
                        <td><%= link_to 'Delete', sale, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% end %>
                </tbody>
            </table>
          </div>
        <br>

        <%= link_to 'New Report', new_sale_path, class: "btn btn-success" %>

      </div>
      <!-- NEWS FEED -->
      <div id="newsfeed" class="col-md-3 visible-lg-block visible-md-block">
        <h3>Messages</h3>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <hr class="featurette-divider">
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <hr class="featurette-divider">
      </div>
    </div>
  </div> <!-- close container --> 
