
<!-- create rows of 3 -->
  <div class="main-container container">
    <div class="row">

      <div class="col-md-3 col-sm-4 " >
        <a href="#"><%= image_tag("cash.png", class: "img-main", alt: "cash report") %></a>
        <h2>Upload your Sales information</h2>
        <p>Update your daily sales information to the Financial Analyst.</p>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <p id="notice"><%= notice %></p>

        <h1>Sales Reports</h1>
        <div class="table-responsive">
            <table class="table table-striped text-left">
                <thead>
                    <tr>
                        <% if current_user.admin? %>
                          <th>Store</th>
                        <% end %>
                        <th>Date</th>
                        <th>Total</th>
                        <th>Profit</th>
                        <th>Credit Card Sales</th>
                        <th>Cash Received</th>
                    </tr>
                </thead>
                <tbody>
                  <% @sales.each do |sale| %>
                    <tr>
                        <% if current_user.admin? %>
                          <td><%= @user.find(sale.user_id).name %></td>
                        <% end %>
                        <td><%= sale.created_at.strftime("%d %b. %Y") %></td>
                        <td>€<%= sale.total %></td>
                        <td>€<%= sale.profit %></td>
                        <td>€<%= sale.credit %></td>
                        <td>€<%= sale.cash %></td>
                        <td><%= link_to 'Show', sale, class: "btn btn-default" %></td>
                    </tr>
                  <% end %>
                </tbody>
            </table>
          </div>
        <br>
        <%= link_to 'New Report', new_sale_path, class: "btn btn-success" %>
        <p><%= link_to '<i class="glyphicon glyphicon-save"></i> Download to Excel'.html_safe, sales_path(format: "xls"), class: "btn btn-xs btn-default" %></p>

      </div>
    </div>
  </div> <!-- close container --> 
