<!-- create rows of 3 -->
	<div class="main-container container">
		<div class="row">

			<div class="col-md-3 col-sm-4 " >
				<a href="#"><%= image_tag("cash.png", class: "img-main", alt: "cash report") %></a>
				<h2>Upload your Sales information</h2>
				<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
			</div>
			<div class="col-md-8 col-sm-8 col-xs-12">
				<h1>Sales Report</h1>

				<table class="table table-striped text-left">
		            <tbody>
		            	<tr>
		            		<td><strong>Date</strong></td>
		            		<td><%= @sale.created_at.strftime("%d %b. %Y") %></td>
		            	</tr>
		                <tr>
		                	<td><strong>Total:</strong></td>
		                    <td>€<%= @sale.total %></td>
		                </tr>
		                <tr>
		                	<td><strong>Profit:</strong></td>
		                    <td>€<%= @sale.profit %></td>
		                </tr>
		                <tr>
		                	<td><strong>Credit Card:</strong></td>
		                    <td>€<%= @sale.credit %></td>
		                </tr>
		                <tr>
		                	<td><strong>Cash Received:</strong></td>
		                    <td>€<%= @sale.cash %></td>
		                </tr>
                        <tr>
		                	<td><strong>Cash Difference:</strong></td>
		                    <td>€<%= @sale.difference %></td>
		                </tr>
		            </tbody>
		        </table>

				<%= link_to 'Edit', edit_sale_path(@sale), class: "btn btn-primary"%> 
				<% if current_user.admin? %>
                <%= link_to 'Delete', @sale, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
				<%= link_to 'Back', sales_path, class: "btn btn-default" %>

			</div>
		</div>
	</div> <!-- close container -->


