<!DOCTYPE html>
<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'> 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <title>Retail Management Portal</title>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to image_tag("logo_sml.png", :alt => "Retail Manager"), home_path , class: "navbar-brand" %>
            </div>
            <% if logged_in? %>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <%= link_to "Sales", sales_path %>
                    </li>
                    <li>
                        <a href="#">Payroll</a>
                    </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Messages <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <%= link_to "Inbox", messages_path %>
                                </li>
                                <li>
                                    <%= link_to "Outbox", outbox_path %>
                                </li>
                                <li>
                                    <%= link_to "Send Message", sendmessage_path %>
                                </li>
                            </ul>
                        </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="http://centra.visualid.com/login/">Toolkit</a>
                            </li>
                            <li>
                                <a href="http://www.jordanscentra.ie/hrm/">SimpleHRM</a>
                            </li>
                            <li>
                                <a href="http://www.centra.ie">Centra</a>
                            </li>
                            <li>
                                <a href="http://www.jordanscentra.ie">Jordan's Website</a>
                            </li>
                        </ul>
                    </li>
					<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <% if current_user.admin? %>
                            <li>
                                <%= link_to "Register User", signup_path %>
                            </li>
                            <% end %>
                                <li class="divider"></li>
                                <li>
                                    <%= link_to "Settings", edit_user_path(current_user) %>
                                </li>
                                <li>
                                  <%= link_to "Log out", logout_path, method: "delete" %>
                                </li> 
                        </ul>
                    </li>
                </ul>
                <% end %>
            </div>
            
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="container">
            <% flash.each do |msg_type, msg| %>
				<%= content_tag(:div, msg, class: "alert alert-#{msg_type}") %>
            <% end %>
    	<%= yield %>
    </div>
		<footer class="row">
			<p>Developed by Bruno Walraven</p>
		</footer>
	</div> <!-- close container -->
</body>
</html>
